node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
!.env.test.example
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.vercel
.vite
coverage
test-results
src/generated/prisma

# clerk configuration (can include secrets)
/.clerk/
